Repository petemessina/sentinel-as-code: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/buildScripts.yml, azure-pipelines.yml

Pipelines/buildScripts.yml:
  pool:
    vmImage: windows-2019
  steps:
  - task: CopyFiles@2
    displayName: Copy Scripts
    inputs:
      SourceFolder: Scripts
      TargetFolder: $(build.artifactstagingdirectory)
  - task: Files-Validator@1
    inputs:
      rootDir: $(build.artifactstagingdirectory)/*.ps1
      validateXML: false
  ...

azure-pipelines.yml:
  name: build and deploy Alert Rules
  stages:
  - stage: build_alert_rules
    jobs:
    - job: AgentJob
      pool:
        name: Azure Pipelines
        vmImage: vs2017-win2016
      steps:
      - task: CopyFiles@2
        displayName: Copy Alert Rules
        inputs:
          SourceFolder: AnalyticsRules
  ...

fixing script issue
  Scripts/CreateAnalyticsRules.ps1
Due: Pipelines/buildScripts.yml

fixing script issue
  AnalyticsRules/analytics-rules.json
Due: azure-pipelines.yml

Fixing subscription parameter
  Pipelines/AnalyticsRulesCICD.yml
  Pipelines/connectorsCICD.yml
  Pipelines/huntingRulesCICD.yml
  Pipelines/onboardingCICD.yml
  Pipelines/playbooksCICD.yml
  Pipelines/workbooksCICD.yml
Due: none

Updating release scripts and pipeline
  AnalyticsRules/AlertRules.tests.ps1
  HuntingRules/HuntingRules.tests.ps1
  Pipelines/BuildPipeline.yaml
  Scripts/CreateAnalyticsRules.release.ps1
  Scripts/CreateDataConnectors.ps1
  Scripts/CreateDataConnectors.release.ps1
  Scripts/CreateHuntingRulesAPI.release.ps1
Due: Pipelines/buildScripts.yml, azure-pipelines.yml

Adding updated connector
  Connectors/connectors.json
Due: none

Path conditions:
  Pipelines/buildScripts.yml: any of: Scripts
  azure-pipelines.yml: any of: AnalyticsRules
